<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd" name="CDOL Health Log PQs" version="0.0" description="CDOL Health Log PQs and Data Access">
	<oauth></oauth>
	<access_request>
		<field table="u_cdol_health_log" field="id" access="FullAccess" />
		<field table="u_cdol_health_log" field="schoolid" access="FullAccess" />
		<field table="u_cdol_health_log" field="log_type" access="FullAccess" />
		<field table="u_cdol_health_log" field="log_date" access="FullAccess" />
		<field table="u_cdol_health_log" field="log_time" access="FullAccess" />
		<field table="u_cdol_health_log" field="sport" access="FullAccess" />
		<field table="u_cdol_health_log" field="complaint" access="FullAccess" />
		<field table="u_cdol_health_log" field="treatment" access="FullAccess" />
		<field table="u_cdol_health_log" field="destination" access="FullAccess" />
		<field table="u_cdol_health_log" field="time_left" access="FullAccess" />
		<field table="u_cdol_health_log" field="users_dcid" access="FullAccess" />
		<field table="u_cdol_health_log" field="injury_site" access="FullAccess" />
		<field table="u_cdol_health_log" field="injury_date" access="FullAccess" />
		<field table="u_cdol_health_log" field="total_systems_score" access="FullAccess" />
		<field table="u_cdol_health_log" field="systems_score" access="FullAccess" />
		<field table="u_cdol_health_log" field="notes" access="FullAccess" />
		<field table="u_cdol_health_log" field="schoolid" access="FullAccess" />
		<field table="u_cdol_health_log" field="yearid" access="FullAccess" />
	</access_request>
	<publisher name="Adrian Carlson">
		<contact email="adrian-carlson@cdolinc.net" />
	</publisher>
</plugin>
