<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
name="CDOL Rest API"
version="22.10.2"
description="CDOL PowerSchool REST API inherited from Sean McCleery">
	<oauth></oauth>
		<access_request>
			<field table="CC" field="STUDENTID" access="FullAccess" />
			<field table="CC" field="TEACHERID" access="FullAccess" />
			<field table="CC" field="COURSE_NUMBER" access="FullAccess" />
			<field table="CC" field="DATEENROLLED" access="FullAccess" />
			<field table="CC" field="DATELEFT" access="FullAccess" />
			<field table="CODESET" field="CODE" access="FullAccess" />
			<field table="CODESET" field="CODESETID" access="FullAccess" />
			<field table="CODESET" field="CODETYPE" access="FullAccess" />
			<field table="EMAILADDRESS" field="EMAILADDRESS" access="FullAccess" />
			<field table="EMAILADDRESS" field="EMAILADDRESSID" access="FullAccess" />
			<field table="GUARDIAN" field="ACCOUNTIDENTIFIER" access="FullAccess" />
			<field table="GUARDIAN" field="GUARDIANID" access="FullAccess" />
			<field table="GUARDIANNOTIFICATIONEMAIL" field="GUARDIANSTUDENTID" access="FullAccess" />
			<field table="GUARDIANNOTIFICATIONEMAIL" field="NOTIFICATIONEMAIL" access="FullAccess" />
			<field table="GUARDIANPERSONASSOC" field="GUARDIANID" access="FullAccess" />
			<field table="GUARDIANPERSONASSOC" field="PERSONID" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="AUTOSEND_ATTENDANCEDETAIL" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="AUTOSEND_BALANCEALERT" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="AUTOSEND_GRADEDETAIL" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="AUTOSEND_HOWOFTEN" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="AUTOSEND_SCHOOLANNOUNCEMENTS" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="AUTOSEND_SUMMARY" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="GUARDIANID" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="GUARDIANSTUDENTID" access="FullAccess" />
			<field table="GUARDIANSTUDENT" field="STUDENTSDCID" access="FullAccess" />
			<field table="ORIGINALCONTACTMAP" field="ORIGINALCONTACTTYPE" access="FullAccess" />
			<field table="ORIGINALCONTACTMAP" field="STUDENTCONTACTASSOCID" access="FullAccess" />
			<field table="PERSON" field="DCID" access="FullAccess" />
			<field table="PERSON" field="EMPLOYER" access="FullAccess" />
			<field table="PERSON" field="EXCLUDEFROMSTATEREPORTING" access="FullAccess" />
			<field table="PERSON" field="FIRSTNAME" access="FullAccess" />
			<field table="PERSON" field="GENDERCODESETID" access="FullAccess" />
			<field table="PERSON" field="ID" access="FullAccess" />
			<field table="PERSON" field="ISACTIVE" access="FullAccess" />
			<field table="PERSON" field="LASTNAME" access="FullAccess" />
			<field table="PERSON" field="MIDDLENAME" access="FullAccess" />
			<field table="PERSON" field="PREFIXCODESETID" access="FullAccess" />
			<field table="PERSON" field="STATECONTACTID" access="FullAccess" />
			<field table="PERSON" field="STATECONTACTNUMBER" access="FullAccess" />
			<field table="PERSON" field="SUFFIXCODESETID" access="FullAccess" />
			<field table="PERSONADDRESS" field="CITY" access="FullAccess" />
			<field table="PERSONADDRESS" field="COUNTRYCODESETID" access="FullAccess" />
			<field table="PERSONADDRESS" field="GEOCODELATITUDE" access="FullAccess" />
			<field table="PERSONADDRESS" field="GEOCODELONGITUDE" access="FullAccess" />
			<field table="PERSONADDRESS" field="LINETWO" access="FullAccess" />
			<field table="PERSONADDRESS" field="PERSONADDRESSID" access="FullAccess" />
			<field table="PERSONADDRESS" field="POSTALCODE" access="FullAccess" />
			<field table="PERSONADDRESS" field="STATESCODESETID" access="FullAccess" />
			<field table="PERSONADDRESS" field="STREET" access="FullAccess" />
			<field table="PERSONADDRESS" field="UNIT" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="ADDRESSPRIORITYORDER" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="ADDRESSTYPECODESETID" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="ENDDATE" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="PERSONADDRESSASSOCID" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="PERSONADDRESSID" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="PERSONID" access="FullAccess" />
			<field table="PERSONADDRESSASSOC" field="STARTDATE" access="FullAccess" />
			<field table="PERSONEMAILADDRESSASSOC" field="EMAILADDRESSID" access="FullAccess" />
			<field table="PERSONEMAILADDRESSASSOC" field="EMAILADDRESSPRIORITYORDER" access="FullAccess" />
			<field table="PERSONEMAILADDRESSASSOC" field="EMAILTYPECODESETID" access="FullAccess" />
			<field table="PERSONEMAILADDRESSASSOC" field="ISPRIMARYEMAILADDRESS" access="FullAccess" />
			<field table="PERSONEMAILADDRESSASSOC" field="PERSONEMAILADDRESSASSOCID" access="FullAccess" />
			<field table="PERSONEMAILADDRESSASSOC" field="PERSONID" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="ISPREFERRED" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="PERSONID" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="PERSONPHONENUMBERASSOCID" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="PHONENUMBERASENTERED" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="PHONENUMBERID" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="PHONENUMBERPRIORITYORDER" access="FullAccess" />
			<field table="PERSONPHONENUMBERASSOC" field="PHONETYPECODESETID" access="FullAccess" />
			<field table="PHONENUMBER" field="ISSMS" access="FullAccess" />
			<field table="PHONENUMBER" field="PHONENUMBER" access="FullAccess" />
			<field table="PHONENUMBER" field="PHONENUMBEREXT" access="FullAccess" />
			<field table="PHONENUMBER" field="PHONENUMBERID" access="FullAccess" />
			<field table="PSM_STUDENTCONTACT" field="EMAIL" access="FullAccess" />
			<field table="PSM_STUDENTCONTACT" field="STUDENTCONTACTTYPEID" access="FullAccess" />
			<field table="PSM_STUDENTCONTACT" field="STUDENTID" access="FullAccess" />
			<field table="PSM_STUDENTCONTACTTYPE" field="ID" access="FullAccess" />
			<field table="PSM_STUDENTCONTACTTYPE" field="NAME" access="FullAccess" />
			<field table="SCHOOLS" field="ABBREVIATION" access="FullAccess" />
			<field table="SCHOOLS" field="SCHOOL_NUMBER" access="FullAccess" />
			<field table="STUDENTCONTACTASSOC" field="CONTACTPRIORITYORDER" access="FullAccess" />
			<field table="STUDENTCONTACTASSOC" field="CURRRELTYPECODESETID" access="FullAccess" />
			<field table="STUDENTCONTACTASSOC" field="PERSONID" access="FullAccess" />
			<field table="STUDENTCONTACTASSOC" field="STUDENTCONTACTASSOCID" access="FullAccess" />
			<field table="STUDENTCONTACTASSOC" field="STUDENTDCID" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="ENDDATE" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="EXCLUDEFROMSTATEREPORTINGFLG" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="ISACTIVE" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="ISCUSTODIAL" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="ISEMERGENCY" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="LIVESWITHFLG" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="RECEIVESMAILFLG" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="RELATIONSHIPNOTE" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="RELATIONSHIPTYPECODESETID" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="SCHOOLPICKUPFLG" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="STARTDATE" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="STUDENTCONTACTASSOCID" access="FullAccess" />
			<field table="STUDENTCONTACTDETAIL" field="STUDENTCONTACTDETAILID" access="FullAccess" />
			<field table="STUDENTCOREFIELDS" field="AUTOSEND_HOWOFTEN" access="FullAccess" />
			<field table="STUDENTS" field="ID" access="FullAccess" />
			<field table="STUDENTS" field="DCID" access="FullAccess" />
			<field table="STUDENTS" field="ENROLL_STATUS" access="FullAccess" />
			<field table="STUDENTS" field="FIRST_NAME" access="FullAccess" />
			<field table="STUDENTS" field="LASTFIRST" access="FullAccess" />
			<field table="STUDENTS" field="LAST_NAME" access="FullAccess" />
			<field table="STUDENTS" field="MIDDLE_NAME" access="FullAccess" />
			<field table="STUDENTS" field="PERSON_ID" access="FullAccess" />
			<field table="STUDENTS" field="SCHOOLID" access="FullAccess" />
			<field table="STUDENTS" field="STUDENT_NUMBER" access="FullAccess" />
			<field table="STUDENTS" field="STUDENT_WEB_ID" access="FullAccess" />
			<field table="STUDENTS" field="GRADE_LEVEL" access="FullAccess" />
			<field table="STUDENTS" field="HOME_ROOM" access="FullAccess" />
			<field table="SYNC_STUDENTMAP" field="STUDENTID" access="FullAccess" />
			<field table="SYNC_STUDENTMAP" field="STUDENTSDCID" access="FullAccess" />
			<field table="TEACHERS" field="ID" access="ViewOnly" />
			<field table="TEACHERS" field="TITLE" access="ViewOnly" />
			<field table="TEACHERS" field="LAST_NAME" access="ViewOnly" />
			<field table="USERS" field="DCID" access="FullAccess" />
			<field table="USERS" field="TITLE" access="FullAccess" />
			<field table="USERS" field="LAST_NAME" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSONID" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_MAIDEN_NAME" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_PARISH" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_PARISH_CITY" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_PARISH_STATE" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_RELIGION" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_STATUS" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_PHONETIC_PRONUNCIATION" access="FullAccess" />
			<field table="U_PERSON_ADDITIONAL_INFO" field="PERSON_POSITION" access="FullAccess" />
			<field table="U_STUDENT_ADDITIONAL_INFO" field="STUDENTSDCID" access="FullAccess" />
			<field table="U_STUDENT_ADDITIONAL_INFO" field="HOMEROOM_TEACHER" access="FullAccess" />
			<field table="U_STUDENTCONTACTDETAIL_CDOL" field="STUDENTCSTUDENTCONTACTDETAILID" access="FullAccess" />
			<field table="U_STUDENTCONTACTDETAIL_CDOL" field="SCHOOLMESSENGERFLG" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="id" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="schoolid" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="yearid" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="title" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="first_name" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="middle_name" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="last_name" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="preferred_name" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="maiden_name" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="gender" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="personal_email" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="staff_type" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="position" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="replacing" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="start_date" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="previous" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="previous_employer" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="previous_employer_other" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="submission_date" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="who_submitted" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="ps_created" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="ad_created" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="ad_ignored" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="lms_created" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="dob" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="name_change" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="early_setup" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="deadline" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="notes" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="fte" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="religion" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="religiousclergylay" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="submission_time" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="replacing_other" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="final_completion_date" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="old_name_placeholder" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="suggestions" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="o365_created" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="o365_ignored" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="exit_date_radio" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="exit_radio" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="position_radio" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="leaving_radio" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="previous_position" access="FullAccess" />
			<field table="U_CDOL_STAFF_CHANGES" field="new_position" access="FullAccess" />
		</access_request>
<publisher name="Adrian Carlson">
<contact email="adrian-carlson@cdolinc.net" />
</publisher>
</plugin>
